body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

header {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(0, 178, 217, 1) 100%);
  padding: 2rem 0 2rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #e41e26;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.banner img {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .banner img {
    width: 500px;
  }
}

@media only screen and (max-width: 950px) {
  h1.slogan {
    display: none;
  }
}

h1.slogan {
  font-family: 'journalregular';
  font-size: 4rem;
  margin-left: 2rem;
  padding: 0;
  font-weight: 500;
  color: #e41e26;
}

main {
  margin-top: 160px;
  background: white;
}

.hero {
  max-width: 100%;
  width: 100%;
}

.links {
  padding: 2rem;
  text-align: center;
}

.links>div {
  margin-bottom: 4rem;
}

a.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-text {
  margin-top: 1rem;
  width: 90px;

}

.fab {
  color: white;
  border-radius: 200px 200px 200px 200px;
  background: #00b2d9;
  border: 2px solid #e41e26;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fab.white {
  background: white;
}

.fab > img {
  width: 60px;
}

footer {
  background: #00b2d9;
  padding: 2rem;
  text-align: center;
  color: white;
  border-top: 2px solid #e41e26;
}

.grid {
  display: grid;
  grid-template-rows: 5fr 1fr;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}